
@{
    ViewBag.Title = "News";
}

@section topCSS{
    <link href="~/Assets/Css/news/news.css" rel="stylesheet"/>
    }


    <div class="container">
        <div class="item overflow-hidden my-5">
            <div class="row flex-row-reverse">
                <div class="col-12 col-md-8">
                    <img src="https://press.razer.com/wp-content/uploads/2020/08/productivity1-780x500.jpg"
                         class="news_img" alt="">
                </div>
                <div class="col-12 col-md-4 px-5 py-4">
                    <div class="date_time">Thursday, August 20, 2020</div>
                    <div class="item_title">
                        The Razer Productivity Suite brings performance, durability and comfort to
                        the workspace
                    </div>
                </div>
            </div>
        </div>

        <div class="item overflow-hidden my-5">
            <div class="row flex-row-reverse">
                <div class="col-12 col-md-8">
                    <img src="https://press.razer.com/wp-content/uploads/2020/07/BSV2-780x500.png" class="news_img"
                         alt="">
                </div>
                <div class="col-12 col-md-4 px-5 py-4">
                    <div class="date_time">Thursday, July 30, 2020</div>
                    <div class="item_title">The new triple threat in esports: the Razer BlackShark V2</div>
                </div>
            </div>
        </div>

        <div class="item overflow-hidden my-5">
            <div class="row flex-row-reverse">
                <div class="col-12 col-md-8">
                    <img src="https://press.razer.com/wp-content/uploads/2020/07/HH-Mini-1-780x500.png" class="news_img"
                         alt="">
                </div>
                <div class="col-12 col-md-4 px-5 py-4">
                    <div class="date_time">Tuesday, July 14, 2020</div>
                    <div class="item_title">Dominate on a Different Scale: Razer Unveils the Razer Huntsman Mini</div>
                </div>
            </div>
        </div>

        <div class="item overflow-hidden my-5">
            <div class="row flex-row-reverse">
                <div class="col-12 col-md-8">
                    <img src="https://press.razer.com/wp-content/uploads/2020/05/Razer-Blade-15-Studio-KV-980x500-780x500.jpg"
                         class="news_img" alt="">
                </div>
                <div class="col-12 col-md-4 px-5 py-4">
                    <div class="date_time">Thursday, May 28, 2020</div>
                    <div class="item_title">
                        Razer introduces Blade 15 Studio Edition for creators with new 8-core CPU
                        and Quadro RTX graphics
                    </div>
                </div>
            </div>
        </div>
    </div>

