* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Exo 2', sans-serif;
}

body {
    margin-top: 0;
}

.blog-wrapper {
    background-color: black;
}

.post-title {
    background-color: #242124 !important;
}

    .post-title h2 {
        font-size: 1rem;
        color: white;
    }

.hover-content {
    background-color: #242124 !important;
}
    .hover-content p{
        color:#787878;
    }

    .hover-content a {
        color: #ff00ff !important;
    }

.hover-post-title h3 {
    font-size: 1rem;
    cursor: pointer;
    color: white;
}
/* MDOAL */

.modal-content {
    background-color: #242124 !important;
}

.modal-title {
    color: white;
}

.modal-body {
    color: #787878;
}
