@{
    ViewBag.Title = "Contact";
}
@section topCSS{
    <link href="~/Assets/Css/contact/contact.css" rel="stylesheet" />
}

<div class="jumbotron jumbotron-fluid">
</div>
<div class="container mt-4">
    <div class="row text-center">
        <div class="my-4 col-md-4">
            <i class="fa fa-phone fa-2x mb-3 razer-purple"></i>
            <p class="razer-font text-white">Some Razer services are impacted and customers may experience longer than expected response time due to the unique circumstances COVID-19 has created. We apologize for any inconvenience and appreciate your patience during this critical time.</p>
        </div>
        <div class="my-4 col-md-4">
            <i class="fa fa-facebook fa-2x mb-3 razer-purple"></i>
            <p class="razer-font  text-white">
                Razer must positively identify that the Product falls within the applicable Limited Warranty period. We also need to verify that the Product was purchased from an authorized seller of Razer Products.
            </p>
        </div>
        <div class="my-4 col-md-4">
            <i class="fa fa-envelope fa-2x mb-3 razer-purple"></i>
            <p class="razer-font  text-white">
                Some Razer services are impacted and customers may experience longer than expected response time due to the unique circumstances COVID-19 has created. We apologize for any inconvenience and appreciate your patience during this critical time.
            </p>
        </div>
    </div>
</div>