
@{
    ViewBag.Title = "Faq";
}
@section topCSS{
    <link href="~/Assets/Css/faq/faq.css" rel="stylesheet" />
}

<div class="container FAQcontainer">
    <h2>NEED HELP?</h2>
    <div class="faq">
        <h3>Order Information</h3>
        <ul>
            <div id="accordionFirstLayer">
                <li data-toggle="collapse" data-target="#collapse-1">
                    <h4>
                        What payment methods can I use?
                    </h4>
                </li>
                <p id="collapse-1" class="collapse" data-parent="#accordionFirstLayer">
                    We accept PayPal, Visa®, MasterCard®, American Express®, and Diner’s Club®.

                    Our servers encrypt all information submitted to them, so you can be confident that your
                    credit card information will be kept safe and secure.
                </p>
                <li data-toggle="collapse" data-target="#collapse-2">
                    <h4>
                        Should I use spaces or dashes when I enter my credit/debit card number?
                    </h4>
                </li>
                <p id="collapse-2" class="collapse" data-parent="#accordionFirstLayer">
                    No. Enter your credit/debit card number without any spaces or special characters. It should be
                    entered as a continuous string of numbers.
                </p>
                <li data-toggle="collapse" data-target="#collapse-3">
                    <h4>
                        Does my billing address have to match the address on file with my credit card?
                    </h4>
                </li>
                <p id="collapse-3" class="collapse" data-parent="#accordionFirstLayer">
                    Yes. For credit card verification you must enter your billing address exactly as it appears on
                    your credit card statement.
                </p>

                <li data-toggle="collapse" data-target="#collapse-4">
                    <h4>
                        Why is my debit card being rejected?
                    </h4>
                </li>
                <p id="collapse-4" class="collapse" data-parent="#accordionFirstLayer">
                    There are many possible reasons for a debit card not being accepted:
                    The card is expired.
                    You have exceeded your available money in your account.
                </p>

                <li data-toggle="collapse" data-target="#collapse-5">
                    <h4>
                        Would I be charged a cross border transaction fee?
                    </h4>
                </li>
                <p id="collapse-5" class="collapse" data-parent="#accordionFirstLayer">
                    You may be charged a cross border transaction fee if your transaction takes place in a different
                    country from the one where your card was issued. This cross border transaction fee is being
                    charged by the issuing bank. You may refer to the terms and conditions for your card or contact
                    the issuing bank for more information.
                </p>

                <li data-toggle="collapse" data-target="#collapse-6">
                    <h4>
                        When will my credit/debit card be charged?
                    </h4>
                </li>
                <p id="collapse-6" class="collapse" data-parent="#accordionFirstLayer">
                    For purchases of physical products, you won't be billed until your product is being prepared for
                    shipment. This includes any preordered or backordered products.
                </p>

                <li data-toggle="collapse" data-target="#collapse-7">
                    <h4>
                        How will the charge show up on my credit card?
                    </h4>
                </li>
                <p id="collapse-7" class="collapse" data-parent="#accordionFirstLayer">
                    The charge for your order will appear on your credit card as: "WWW.RAZERZONE.COM"
                </p>

                <li data-toggle="collapse" data-target="#collapse-8">
                    <h4>
                        Can I order without a credit card?
                    </h4>
                </li>
                <p id="collapse-8" class="collapse" data-parent="#accordionFirstLayer">
                    Yes. In addition to credit cards we accept debit card and POLi.
                </p>

                <li data-toggle="collapse" data-target="#collapse-9">
                    <h4>
                        Do I have to pay sales tax?
                    </h4>
                </li>
                <p id="collapse-9" class="collapse" data-parent="#accordionFirstLayer">
                    All orders are subject to sales tax or VAT according to the ship-to location. Razer will charge
                    the corresponding sales tax or VAT upon receiving your order.
                    Razer does not honour tax-exempt orders and resale exemption certificates.

                    The price indicated includes anticipated sales tax or VAT that we will collect from you based on
                    information you make available to us. The total price may change during the course of the
                    shopping session depending on a number of factors. However, you will have the opportunity to
                    review the final price we will charge before you submit your order. A national sales tax or VAT
                    rate will be applied on physical goods for customers based in EU countries. This sales tax or
                    VAT may not be shown as a separate charge during checkout and may instead be included in the
                    product price (Sales tax or VAT inclusive pricing).
                </p>

                <li data-toggle="collapse" data-target="#collapse-10">
                    <h4>
                        How will you know where and how to send my physical product?
                    </h4>
                </li>
                <p id="collapse-10" class="collapse" data-parent="#accordionFirstLayer">
                    If you order a physical product, a Shipping Information page will appear during checkout so you
                    can enter a shipping address and choose a shipping method.
                </p>
            </div>
        </ul>
    </div>
</div>

