@{
    ViewBag.Title = "CouponContent";
}

<h2>CouponContent</h2>

<!-- Modal -->
<div class="modal fade" id="CouponModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content razer-BGC">
            <div class="modal-header">
                <h5 class="modal-title razer-purple" id="staticBackdropLabel">Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white">
                <p>Coupon Code : <span id="CouponCode"></span> </p>
                <p>Description :<span id="Description"></span>  </p>
                <p>Discount: <span id="Discount"></span> </p>
            </div>

        </div>
    </div>
</div>



