* {
    font-family: 'Exo 2', sans-serif;
}

body {
    background-color: black;
}

.FAQcontainer h2,
.FAQcontainer h3 {
    color: white;
}

#accordionFirstLayer h4 {
    color: #CA93FE;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 0;
}

    #accordionFirstLayer h4::after {
        display: none;
    }

.faq ul {
    padding-left: 1rem;
}

#accordionFirstLayer li {
    color: rgb(136, 136, 136);
    margin-bottom: 2rem;
    list-style: disc
}

#accordionFirstLayer p {
    color: white;
    margin-bottom: 0rem;
}

.faq {
    max-width: 30vw;
}

.FAQcontainer {
    background-image: url("../../Img/faq/faq.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
}
@media screen and (max-width: 768px) {
    .faq {
        max-width: 70vw;
    }

    .FAQcontainer {
        background-image: none;
    }
}