
@{
    ViewBag.Title = "Store";
}
@section topCSS{
    <link href="~/Assets/Css/about/store/store.css" rel="stylesheet" />
}
@section endJS{
    <script src="~/Assets/Js/about/store/store.js"></script>
}

<div class="container-fluid position-relative">
    <div class="row">
        <img class="w-100 " src="~/Assets/Img/about/store/storeBG.png" alt="背景圖">
    </div>
    <div class="row m-0  bottom-0 justify-content-center description">
        <div class="col-12 col-md-8">
            <h3 class="razer-purple rem-22 razer-font">RAZERSTORE LOCATIONS</h3>
            <p class=" text-white rem-1125">Visit a RazerStore near you to check out the latest technology in gaming. Immerse yourself in the ultimate Razer experience as you get your hands on an impressive range of the best gaming products the world has seen.</p>
            <p class=" text-white font-weight-bold rem-185">Touch. Play. Stay.</p>
        </div>
    </div>
</div>


<div class="container storeDisplay">
    <template class="storeInfo">
        <div class="row my-5">
            <div class="col-12 col-md-8"><img class="w-100" src="../Assets/Img/about/store/LondonStore.png" alt=""></div>
            <div class="col-12 col-md-4 d-flex flex-column justify-content-around align-items-start">
                <h3 class=" razer-purple razer-font">RAZERSTORE LONDON</h3>
                <p class=" text-white">Charing Cross</p>
                <p class=" text-grey">Unit 7, 53 Charing Cross Road, London, WC2H 7PZ, United Kingdom</p>
                <!-- <button class="storeBtn">VISIT STORE ></button> -->
            </div>
        </div>
    </template>
</div>
