
@{
    ViewBag.Title = "Story";
}
@section topCSS{
    <link href="~/Assets/Css/about/story/story.css" rel="stylesheet" />
}
@section endJS{
    <script src="~/Assets/Js/about/story/story.js"></script>
}

<div class="container-fluid px-0">
    <section class="story-container">
        <div class="story d-flex flex-column justify-content-end align-items-center bg title-bg w-100">
            <img class="d-xl-none d-lg-none w-100" src="~/Assets/Img/about/story/about-razer-hero-mobile.jpg" alt="手機版背景圖">
            <div class="content mb-5">
                <div class="main-content">
                    <h2>ABOUT RAZER</h2>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section class="story-container">
        <div class="bg content-bg">
            <img class="d-xl-none d-lg-none w-100" src="~/Assets/Img/about/story/about-us-usp1-mobile-v2.jpg" alt="手機版背景圖">
            <div class="row">
                <div class="item col-lg-6 col-12">
                    <h3>ABOUT RAZER</h3>
                    <p>
                        world’s leading lifestyle brand for gamers.
                        <br><br>
                        The triple-headed snake trademark of Razer is one of the most recognized logos in the global
                        gaming and esports communities.
                        <br><br>
                        With a fan base that spans every continent, the company has designed and built the world’s
                        largest gamer-focused ecosystem of hardware, software and services.
                        <br><br>
                        Razer’s award-winning hardware includes high-performance gaming peripherals and Blade gaming
                        laptops. Razer’s software platform, with over 80 million users, includes Razer Synapse (an
                        Internet of Things platform), Razer Chroma™ (a proprietary RGB lighting technology system),
                        and Razer Cortex (a game optimizer and launcher).
                        <br><br>
                        In services, Razer Gold is one of the world’s largest virtual credit services for gamers,
                        and Razer Fintech is one of the largest online-to-offline digital payment networks in SE
                        Asia.
                        <br><br>
                        Founded in 2005 and dual-headquartered in Irvine and Singapore, Razer has 16 offices
                        worldwide and is recognized as the leading brand for gamers in the USA, Europe and China.
                        Razer is listed on the Hong Kong Stock Exchange (Stock Code: 1337).
                    </p>
                    </p>
                </div>
                <div class="item col-lg-6 col-12"></div>
            </div>
        </div>
    </section>
    <section class="accolades-container d-flex flex-column">
        <div class="row col-12">
            <h3>ACCOLADES</h3>
        </div>
        <div class="accolades-content d-flex flex-wrap">
            <template class="accolades-item">
                <div class="item my-2 justify-content-center col-12 col-lg-6">
                    <div class="row">
                        <div class="item my-2 justify-content-center col-12 col-lg-4">
                            <img class="d-block my-2 mx-auto" src="./img/best-of-ces.jpg" alt="">
                        </div>
                        <div class="item my-2 justify-content-center col-12 col-lg-8">
                            <h4>BEST OF CES</h4>
                            <p>
                                Razer has won the Best of CES for an unprecedented seven years in a row, including
                                People’s Choice Award, Best PC, Best Gaming Device and Best Concept, among others
                            </p>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </section>
</div>
