@charset "utf-8";
/* CSS Document */

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .cart_info_columns {
        display: none;
    }

    .cart_items_row {
        margin-top: 0;
    }

    .cart_item:first-child {
        padding-top: 0;
    }

    .cart_item:not(:last-child) {
        border-bottom: solid 2px #e3e3e3;
    }

    .cart_item_product,
    .cart_item_price,
    .cart_item_quantity,
    .cart_item_total {
        width: 100%;
        text-align: left;
    }

    .cart_item_price,
    .cart_item_quantity,
    .cart_item_total {
        margin-top: 25px;
    }

    .cart_buttons_right {
        margin-top: 15px;
    }

    .cart_total {
        margin-top: 100px;
    }

    .checkout_button {
        margin-top: 15px;
    }
}
/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    p {
        font-size: 13px;
    }

    .button {
        width: 148px;
        height: 41px;
    }

        .button a {
            font-size: 13px;
            line-height: 37px;
        }

    .checkout_button {
        width: 100%;
    }
}
